<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Compiled and minified CSS of Materialize -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="{{ base_url() }}/assets/css/main.css">
    <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="{{ base_url() }}/assets/pictures/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ base_url() }}/assets/pictures/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ base_url() }}/assets/pictures/favicon/favicon-16x16.png">
  <link rel="manifest" href="{{ base_url() }}/assets/pictures/favicon/site.webmanifest">
  <link rel="mask-icon" href="{{ base_url() }}/assets/pictures/favicon/safari-pinned-tab.svg" color="#5bbad5">
  <link rel="shortcut icon" href="{{ base_url() }}/assets/pictures/favicon/favicon.ico">
  <meta name="msapplication-TileColor" content="#2b5797">
  <meta name="msapplication-config" content="{{ base_url() }}/assets/pictures/favicon/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">
  <title>Pokedex</title>
</head>
<body>
  <main>
    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper">
          <a href="{{ path_for('profile') }}" class="brand-logo">Pokedex</a>
          <ul class="right hide-on-med-and-down">
            <li><a href="{{ path_for('profile') }}">Profile</a></li>
            <li><a href="{{ path_for('search') }}">Search pokemons</a></li>
            <li><a href="{{ path_for('list') }}">Pokemons list</a></li>
            <li><a href="{{ path_for('logout') }}">Log out</a></li>
          </ul>
        </div>
      </nav>
    </div>